body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0px 20px;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
    width:50%;
}

h1{
    text-align: center;
}
header{
    background-color: rgb(185,0,0);
    color:#fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;

}
header .stopwatch{
    text-align: center;
}
#result{
    width: 100%;
}
tr{
    border: 1px solid rgb(229,231,230);
    margin: 0px auto;
    text-align: center;
}
td{
    padding: 5px;
}
.addPlayer {
    background-color: rgb(185,0,0);    
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;


}
#name{
    background-color: rgb(133,4,2);
    color:#fff;
    margin: 10px 5px;
    border: none;
    border-radius: 5px;
    /* padding:5px */
}
button{
    border: none;
    border-radius: 5px;
}





@media (max-width:900px){
    body {
        width:80%

    }
}